*{
    margin: 0;

}
h1{
    text-align: center;
    text-decoration: underline;
    color: aqua;
}

img{
    height: 200px;
    width: 200px;



}
input:focus{
    font-size: 26px;
    color: green;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    



    
}
li{
    margin-bottom: 30px;
}

li:hover{
    background-color: black;
    color: aliceblue;
    width: 100px;

}
li::before{
    content: "❤️";
}
li::after{
    content: "❤️";
}


li:nth-child(1){
    background-color: aqua;
    color: rgb(22, 29, 220);
    width: 100px;
}




.a{
    margin-top: 20px;
    height: 220px;
    width: 100%;
    background-color: antiquewhite;
}

.a .a1{
    margin-top: 10px;
    height: 200px;
    width: 30%;
    text-align: center;
    background-color: rgb(32, 210, 151);
    color: rgb(221, 226, 226);
    box-shadow: 5px 5px 10px rgb(197, 5, 5);
    margin-left: 37px;
    float: left;
}












